*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: unset;
}

ul{
    list-style-type: none;
}

header{
    background-color: red;
    /* height: 80px; */
    display: flex;
    justify-content: space-between;S
}

.header-left{
    border: 1px solid black;
    height: 100%;
    width: 30%;
    background-color: green;
    display: flex;
    align-items: center;
}


.logo img{
    height: 30px;
}

.header-right{
    border: 1px solid black;
    height: 100%;
    width: 50%;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.item span{
    display: inline-block;
    padding: 20px 10px;
}

.box{
    position: relative;
}

.dropdown-menu{
    position: absolute;
    display: none;
    width: 130%;
    background-color: yellow;
}

.dropdown-menu.active{
    display: flex;
    flex-direction: column;
}

.dropdown-item{
    padding: 20px 10px;
    border: 1px solid black;
}
